.bdstyle1{
    border-style: solid;
}
.bdstyle2{
    border-style: double;
}
.bdstyle3{
    border-style: dotted;
}
.bdstyle4{
    border-style: dashed;
}
.bdstyle5{
    border-style: inset;
}
.bdstyle6{
    border-style: outset;
}
/* solid = background-color */
.borderdesign{   
    width: 200px;
    height: 180px;

    /* background: chartreuse; */
    background-color: red;
    border-style: double;

    /* border-radius: 50%; */
    /* border-radius: 100px; */
    /* border-radius: 15px 30%;  clockwise direction */
    /* border-radius: 30px 60px 55% 80%; */

    /* short hand */
    /* ssc or bsc = stroke solid color bold solid color */
    border: 5px groove violet;
}
ul{
   /* list-style-type: none; */
   /* list-style: none; */

   border: 1px solid red;
}
li{
    /* list-style-type: none; */
    /* list-style: none; */

    /* b s c */
    /* border: 1px solid blue;*/ /*(commonly used in real world's projects) */
    
    border: 2px;
    border-style: dotted;
    border-color: chartreuse;

    /* list-style-type: circle; */
    /* list-style-type: square; */
    /* list-style-type: decimal; */
    list-style-type: decimal-leading-zero;

    list-style-position: inside;
    list-style-position: outside;
}
/* Attribute Selectors */
input[type="text"]{
    width: 300px;
    background-color: aqua;
    /* color: #fff; (white) */
    color: #000;
    border-radius: 20px;
}
input[type="password"],input[type="email"]{
    background-color: blueviolet;
    border-radius: 15px;
}
body{
    /* Uniform Resource Locator */
    background-image: url(./../img/fav/logo.png);
    /* background-repeat: repeat; */
    background-repeat: no-repeat;

    background-position: center;
    /* background-position: top; */
    /* background-position: bottom; */
    /* background-position: left; */
    /* background-position: right; */
                            
                    /* x , y  */
    /* background-position: right top; */
    /* background-position: left top; */
    /* background-position: right bottom; */
    /* background-position: left bottom; */

    background-attachment: fixed;
    /* background-attachment: scroll; */
}

